@use '../abstracts/mixins' as a;

.card-item {
  width: 200px;

  .card-item__image {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-item__title {
    margin: 10px;
    overflow-wrap: break-word; 
  }

  .card-item__price {
    margin: 0;
  }
}