@use '../abstracts' as a;

.card-item {
  min-width: 250px;
  max-width: 300px;
  padding: 5px;
  flex: 1;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
  }

  .card-item__image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    transition: all .2s ease;

    .card-item__image-tag {
      position: absolute;
      max-width: 100%;
      max-height:100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .card-item__title-rate-wrap {
    @include a.flex(space-between);
    gap: 15px;

    .card-item__title {
      margin: 10px 0;
      padding-left: 5px;
      font-size: 18px;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-item__rate-wrap {
      @include a.flex();
      gap: 3px;

      .card-item__star-icon {
        position: relative;
        top: -1px;
      }
    }
  }
  
  .card-item__price-wrap {
    @include a.flex(start, start);
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;

    .card-item__price {
      margin: 0;
      font-size: 16px;
    }

    .card-item__discount {
      margin: 0;
      font-size: 14px;
      color: a.$clr-grey-4;

      .card-item__origin-price{
        text-decoration: line-through;
      }
    }
  }
}


.card-item__btn {
  width: 160px;
  margin: 10px 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: crimson;
  transition: all .2s ease;
  cursor: pointer;

  &:hover {
    background-color: rgb(201, 18, 55);
    box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
  }
}