@use '../abstracts' as a;

.cart {
  width: 75%;
  border: 1px dashed crimson;
}
.cart__header {
  @include a.flex(space-between);
  padding: 10px 20px;
  border-bottom: 1px solid crimson;
}

.cart__title {
  color:  a.$clr-grey-2;
  font-size: 30px;
}

.cart__input-number {
  width: 60px;
  height: 30px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid a.$clr-grey-4;
  border-radius: 5px;
  -moz-appearance: textfield;
}

.cart__input-number::-webkit-outer-spin-button,
.cart__input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__pagination button {
  width: 40px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#fff;
  border: 1px solid a.$clr-grey-4;
  border-radius: 5px;
  background-color: a.$clr-grey-4;
}

.cart__page-count {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cart__list {
  padding-left: 0;
}

.cart-item {
  width: 100%;
  position: relative;
  @include a.flex(flex-start);
  align-items: stretch;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px; 
}

.cart-item:not(:last-child) {
  border-bottom: 1px dashed crimson;
}

.cart-item__number {
  position: absolute;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-20px);
  left: -56px;
}

.cart-item__number span {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: a.$clr-grey-4;
  color: #fff;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}

.cart-item__info {
  width: 75%;
  @include a.flex(flex-start);
}

.cart-item__image {
  @include a.flex(flex-start);
  width: 40%;
  margin: 0 10px;
}

.cart-item__image img {
  width: 260px;
  height: 220px;
  object-fit: contain;
  margin: 0 auto;
}

.cart-item__full-info {
  width: 60%;
  min-height: 240px;
  padding: 0 15px;
  background-color: a.$clr-primary-11;
}

.cart-item__title {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: a.$clr-grey-2;
  background-color: #fff;
}

.cart-item__price-for-all {
  font-size: 20px;
  font-weight: bold;
}

.cart-item__rating span,
.cart-item__discount span,
.cart-item__stock span,
.cart-item__price-for-one span,
.cart-item__price-for-all span {
  font-weight: bold;
}

.cart-item__price-for-one span,
.cart-item__price-for-all span {
  color: crimson;
}

.cart-item__price-block {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.cart-item__counter-button {
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 1px solid a.$clr-grey-4;
  border-radius: 5px;
  background-color: a.$clr-grey-4;
  color: #fff;
}

.cart-item__counter-span {
  display: inline-block;
  margin: 0 12px;
  font-size: 26px;
  font-weight: bold;
}

