@use "../abstracts" as a;

.image-gallery__wrapper {
  @include a.flex(flex-start);
}

.image-gallery__previews {
  width: 20%;
  padding: 10px;
}

.image-item__image {
  object-fit: contain;
  margin: 0 auto;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: 0px 0px 3px 2px rgb(188 188 188);
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
}

.image-gallery__big-image-wrapper {
  width: 80%;
  padding: 20px;
  @include a.flex(center);
}

.image-gallery__big-image {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
  margin: 0 auto;
}