@charset "UTF-8";
.filters {
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
}

.filters__buttons {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filters__button {
  min-width: 90px;
  padding: 8px;
  background-color: #fff;
  color: crimson;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.filters__button:focus,
.filters__button:hover {
  background-color: crimson;
  color: #fff;
  transition: all 0.3s ease-out;
}

.filters__block {
  width: 95%;
  display: block;
  overflow: hidden;
  margin-right: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid crimson;
  border-radius: 10px;
}

.filters__block--checkbox {
  height: 215px;
}

.filters__block--range {
  height: 150px;
}

.filters__block-title {
  background-color: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.filters__checkbox-wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  overflow-y: auto;
}

.filter-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filter-checkbox__label {
  font-size: 18px;
  position: relative;
  display: block;
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
}

.filter-checkbox__input:focus + label,
.filter-checkbox__label:hover {
  color: crimson;
}

.filter-checkbox__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
}

.filter-checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../assets/svg/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 25px 25px;
}

/* Работает в Chrome, Opera и Safari */
.filters__checkbox-wrapper::-webkit-scrollbar {
  width: 10px;
}

.filters__checkbox-wrapper::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.filters__checkbox-wrapper::-webkit-scrollbar-thumb {
  width: 8px;
  height: 25%;
  background: crimson;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Работает в Firefox */
.filters__checkbox-wrapper {
  scrollbar-width: thin;
  scrollbar-color: crimson #fff;
}

.filter-checkbox__count {
  margin: 5px;
  width: 25%;
  text-align: right;
}

.filter-checkbox__count span {
  font-size: 18px;
  font-weight: 500;
}

/* range filter */
.filter-range__values {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.filter-range__field {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
}

.filter-range__value {
  display: block;
  min-width: 70px;
  min-height: 30px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  background-color: #fff;
}

.filter-range__separator {
  width: 130px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.filter-range__slider {
  height: 5px;
  position: relative;
  border-radius: 5px;
  background: rgb(206, 205, 205);
}

.filter-range__progress {
  height: 5px;
  position: absolute;
  border-radius: 5px;
  background: crimson;
}

.filter-range__container {
  position: relative;
}

.filter-range__input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.filter-range__input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: crimson;
  cursor: pointer;
}

.filter-range__input::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: crimson;
  cursor: pointer;
}

.cart {
  width: 65%;
  border: 1px dashed crimson;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid crimson;
}

.cart__input-number {
  width: 60px;
  height: 30px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  -moz-appearance: textfield;
}

.cart__input-number::-webkit-outer-spin-button,
.cart__input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__pagination button {
  width: 25px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}

.cart__page-count {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cart__list {
  padding-left: 0;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: stretch;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px dashed crimson;
}

.cart-item__number {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.cart-item__number span {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px dashed crimson;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}

.cart-item__info {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item__image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  margin: 0 10px;
}

.cart-item__image img {
  width: 180px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-item__full-info {
  width: 70%;
  min-height: 240px;
  padding: 0 15px;
  background-color: rgb(234, 234, 234);
}

.cart-item__title {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.cart-item__price-for-all {
  font-size: 20px;
  font-weight: bold;
}

.cart-item__rating span,
.cart-item__discount span,
.cart-item__stock span,
.cart-item__price-for-one span,
.cart-item__price-for-all span {
  font-weight: bold;
}

.cart-item__price-for-one span,
.cart-item__price-for-all span {
  color: crimson;
}

.cart-item__price-block {
  width: 25%;
  padding: 10px 15px;
  text-align: center;
}

.cart-item__counter-button {
  width: 25px;
  height: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}

.cart-item__counter-span {
  display: inline-block;
  margin: 0 12px;
  font-size: 26px;
  font-weight: bold;
}

.cards-block {
  flex: 1;
}

.cards-block__card-list {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.cards-block__cards-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item {
  min-width: 250px;
  max-width: 300px;
  flex: 1;
  cursor: pointer;
}
.card-item:hover .card-item__image {
  box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
}
.card-item .card-item__image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.card-item .card-item__title-rate-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.card-item .card-item__title-rate-wrap .card-item__title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-item .card-item__title-rate-wrap .card-item__rate-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.card-item .card-item__title-rate-wrap .card-item__rate-wrap .card-item__star-icon {
  position: relative;
  top: -1px;
}
.card-item .card-item__price-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
.card-item .card-item__price-wrap .card-item__price {
  margin: 0;
  font-size: 16px;
}
.card-item .card-item__price-wrap .card-item__discount {
  margin: 0;
  font-size: 14px;
  color: green;
}
.card-item .card-item__price-wrap .card-item__discount .card-item__origin-price {
  text-decoration: line-through;
}
.card-item .card-item__btn {
  width: 140px;
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: crimson;
  transition: all 0.2s ease;
  cursor: pointer;
}
.card-item .card-item__btn:hover {
  background-color: rgb(201, 18, 55);
  box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
}

.big-card-item {
  min-width: 350px;
  max-width: 400px;
  flex: 1;
  cursor: pointer;
}
.big-card-item:hover .big-card-item__image {
  box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
}
.big-card-item .big-card-item__image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.big-card-item .big-card-item__title-rate-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.big-card-item .big-card-item__title-rate-wrap .big-card-item__title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.big-card-item .big-card-item__title-rate-wrap .big-card-item__rate-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 18px;
}
.big-card-item .big-card-item__title-rate-wrap .big-card-item__rate-wrap .big-card-item__star-icon {
  position: relative;
  top: -1px;
}
.big-card-item .big-card-item__price-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
.big-card-item .big-card-item__price-wrap .big-card-item__price {
  margin: 0;
  font-size: 20px;
}
.big-card-item .big-card-item__price-wrap .big-card-item__discount {
  margin: 0;
  font-size: 16px;
  color: green;
}
.big-card-item .big-card-item__price-wrap .big-card-item__discount .big-card-item__origin-price {
  text-decoration: line-through;
}
.big-card-item .big-card-item__btn {
  width: 180px;
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: crimson;
  transition: all 0.2s ease;
  cursor: pointer;
}
.big-card-item .big-card-item__btn:hover {
  background-color: rgb(201, 18, 55);
  box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
}

.payment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.payment-form .payment-form__block-name {
  text-align: center;
  margin: 10px 0 0;
}
.payment-form .payment-form__input-wrap {
  max-width: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 0 5px;
}
.payment-form .payment-form__help-msg {
  min-width: 165px;
}

.payment-form__input {
  padding: 5px 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  outline: none;
}

.payment-form__input_incorrect {
  border-color: rgb(209, 4, 4);
}

.payment-form__input_correct {
  border-color: rgb(36, 181, 48);
}

.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.credit-card .credit-card__fieldset_line {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 300px;
}
.credit-card .credit-card__fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 7px;
  border-radius: 5px;
}
.credit-card .credit-card__fieldset_incorrect {
  border-color: rgb(209, 4, 4);
}
.credit-card .credit-card__fieldset_correct {
  border-color: rgb(36, 181, 48);
}
.credit-card .credit-card__fieldset_small-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.credit-card__input_small {
  width: 80%;
}

.credit-card__legend {
  font-size: 16px;
}

.credit-card__input {
  text-align: center;
  border: none;
  outline: none;
}

.credit-card__icon {
  width: 35px;
  height: 24px;
  background-color: rgb(205, 205, 205);
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.credit-card__error {
  margin: 0;
  color: rgb(209, 4, 4);
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-wrap_open {
  opacity: 1;
  pointer-events: all;
}

.promo-block {
  position: fixed;
  right: 50px;
  width: 30%;
  border: 1px dashed crimson;
  text-align: center;
}

.promo-block__header {
  padding: 10px 20px;
  border-bottom: 1px solid crimson;
  background-color: #fff;
}

.promo-block__calculation {
  padding: 10px 20px 20px;
  background-color: rgb(234, 234, 234);
}

.promo-block__products-count,
.promo-block__total-price,
.promo-block__total-price-with-promo-code {
  font-size: 20px;
  font-weight: bold;
  color: crimson;
}

.promo-block__products-count span,
.promo-block__total-price span,
.promo-block__total-price-with-promo-code span {
  color: #000;
}

.promo-block__total-price {
  text-decoration: line-through;
}

.promo-block__code-input {
  width: 230px;
  padding: 5px 10px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  text-align: center;
}

.promo-block__code-input:focus {
  outline: 0;
}

.promo-block__button--buy {
  min-width: 125px;
  padding: 8px;
  background-color: #fff;
  color: crimson;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.promo-block__button--buy:focus,
.promo-block__button--buy:hover {
  background-color: crimson;
  color: #fff;
  transition: all 0.3s ease-out;
}

.promo-block__list {
  padding-left: 0;
}

.promo-block__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #fff;
}

.promo-block__item p {
  margin: 5px;
}

.promo-block__button--add {
  min-width: 25px;
  padding: 3px 8px;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
}/*# sourceMappingURL=index.css.map */