@use '../abstracts/mixins' as a;

.big-card-item {
  min-width: 350px;
  max-width: 400px;
  flex: 1;
  cursor: pointer;

  &:hover .big-card-item__image {
    box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
  }

  .big-card-item__image {
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s ease;
  }

  .big-card-item__title-rate-wrap {
    @include a.flex(space-between);
    gap: 15px;

    .big-card-item__title {
      margin: 10px 0;
      font-size: 20px;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .big-card-item__rate-wrap {
      @include a.flex();
      gap: 3px;
      font-size: 18px;

      .big-card-item__star-icon {
        position: relative;
        top: -1px;
      }
    }
  }
  
  .big-card-item__price-wrap {
    @include a.flex(start, start);
    flex-direction: column;
    gap: 5px;

    .big-card-item__price {
      margin: 0;
      font-size: 20px;
    }

    .big-card-item__discount {
      margin: 0;
      font-size: 16px;
      color: green;

      .big-card-item__origin-price{
        text-decoration: line-through;
      }
    }
  }

  .big-card-item__btn {
    width: 180px;
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: crimson;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
      background-color: rgb(201, 18, 55);
      box-shadow: 0px 0px 5px 2px rgb(188, 188, 188);
    }
  }
}