@use '../abstracts/mixins' as a;

.payment-form {
  @include a.flex();
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);

  .payment-form__block-name{
    text-align: center;
    margin: 10px 0 0;
  }

  .payment-form__input-wrap{
    max-width: 400px;
    @include a.flex(start);
    gap: 10px;
    margin: 0 5px;
  }

  .payment-form__help-msg {
    min-width: 165px;
  }
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include a.flex();
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.modal-wrap_open {
  opacity: 1;
  pointer-events: all;
}

.payment-form__input {
  padding: 5px 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  outline: none;
}

.payment-form__input_incorrect {
  border-color: rgb(209, 4, 4);
}

.payment-form__input_correct {
  border-color: rgb(36, 181, 48);
}
