@use '../abstracts' as a;

.footer {
  padding: 10px 0px;
  height: 60px;
  color: white;
  background-color: a.$clr-grey-4;

  .footer__container {
    @include a.flex(space-between);
    max-width: 1350px;
    margin: auto;

    .footer__app-year {
      margin: 0;
      font-size: 20px;
    }

    .footer__github-wrap {
    @include a.flex();
    gap: 15px;

      .footer__github-link {
        color: white;
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
          scale: 1.1;
          color: a.$clr-grey-9;
        }
      }
      
      .footer__github-logo {
        width: 40px;
        filter: invert(100%);
      }
    }
  }
}

.footer__logo-img {
  width: 90px;
  transition: all .2s ease;
  filter: invert(100%);

  &:hover {
    scale: 1.05;
  }
}