@use '../abstracts' as a;

.header {
  // position: fixed;
  padding: 10px 0px;
  height: 80px;
  background-color: a.$clr-grey-4;
  box-shadow: 0px 0px 4px 2px a.$clr-grey-4;

  .header__container {
    @include a.flex(space-between);
    max-width: 1350px;
    margin: auto;
    padding: 0 20px;

    .header__logo {
      height: 60px;
    }
  
    .header__payment-wrap {
      @include a.flex();
      gap: 20px;

      .header__total {
        padding: 10px;
        background-color: #fff;
        margin: 0;
        border-radius: 6px;
        font-size: 20px;
        font-weight: bold;

        span {
          color: crimson;
        }
      }

    }
  
    .header__cart-wrap {
      position: relative;
      color: black;
    
      .header__cart-counter {
        position: absolute;
        top: 1px;
        right: -5px;
        @include a.flex();
        width: 30px;
        height: 30px;
        color: crimson;
        font-weight: bold;
        background-color: a.$clr-primary-11;
        border-radius: 50%;
        border: 2px solid black;
      }
  }
}
}

.header--main-page {
  position: sticky;
  z-index: 1000;
  top: 0;
}